.fleet-container {
	background: var(--background) !important;
	color: var(--on-background) !important;

	.title {
		padding-top: 60px;
		font-size: 50px;
		font-weight: 600;
	}

	.text-secondary {
		margin: 20px;
	}
}

.field {
	h4 {
		text-align: center;
		margin-bottom: 5px;
	}
}
