<!-- <app-menu-header></app-menu-header> -->

<div
	class="scalein animation-duration-1000 animation-iteration fleet-container"
>
	<div class="flex justify-content-center title">Gerente de Frotas</div>

	<div class="text-secondary">
		Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis,
		vehicula ac nisi. Diuretics paradis num copo é motivis de denguis. Viva
		Forevis aptent taciti sociosqu ad litora torquent. Nec orci ornare
		consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.
		Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis,
		vehicula ac nisi. Diuretics paradis num copo é motivis de denguis. Viva
		Forevis aptent taciti sociosqu ad litora torquent. Nec orci ornare
		consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.
		Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis,
		vehicula ac nisi. Diuretics paradis num copo é motivis de denguis. Viva
		Forevis aptent taciti sociosqu ad litora torquent. Nec orci ornare
		consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.
	</div>
</div>
