<router-outlet></router-outlet>

<!--

<div class="container flex align-items-center justify-content-center">
	<div class="flex flex-column">
		<h1>Login</h1>
		<p>Dropdown is used to select an item from a list of options.</p>
		<form (ngSubmit)="onSubmit()" #form="ngForm">
			<h5>Usuario</h5>
			<input
				type="text"
				name="username"
				pInputText
				[(ngModel)]="login.username"
				required
			/>

			<h5>Senha</h5>
			<p-password
				name="password"
				[(ngModel)]="login.password"
				[toggleMask]="true"
				required
			></p-password>

			<h5>Tipo usuario</h5>
			<p-dropdown
				[options]="typesUser"
				[(ngModel)]="selectedTypeUser"
				optionLabel="value"
				[required]="isSignUp"
			></p-dropdown>

			<br />
			<p-button
				type="submit"
				(click)="onSignUp()"
				[disabled]="form.form.invalid"
				>Entrar</p-button
			>

			<br />
			<div *ngIf="!isSignUp">
				<button (click)="onSignUp()">Criar conta</button>
			</div>

			<div *ngIf="isSignUp">
				<button (click)="onSignIn()">Login</button>
			</div>
		</form>
	</div>
</div> -->
