:root {
	--success-1: #42b371;
	--success-1-light: #f5ffe9;

	--success-2: #229250;
	--success-2-light: #1b7d44;
	--success-2-strong: #135e39;

	--attention-1: #d6a14b;
	--attention-2: #a16a12;
	--attention-3: #efac4f;
	--attention-2-light: #915d0a;
	--attention-2-strong: #855508;

	--danger-1: #eb9090;
	--danger-1-light: #fdf5f4;
	--danger-2: #ca686e;
	--danger-2-light: #bf4f56;
	--danger-2-strong: #d84e57;
}

$font-roboto: 400 16px "Roboto", sans-serif;
