/* You can add global styles to this file, and also import other style files */
@import "./assets/variables.scss";
@import "./assets/sweetalert.scss";

// Teste de themas angular.json
// @import "../node_modules/primeng/resources/themes/bootstrap4-dark-blue/theme.css";
// @import "../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css";
// @import "../node_modules/primeng/resources/themes/mdc-dark-indigo/theme.css";
// @import "../node_modules/primeng/resources/themes/mdc-light-indigo/theme.css";

* {
	margin: 0;
	padding: 0;
}

body,
input,
button,
textarea {
	font: $font-roboto;
	// letter-spacing: 1px;
}
