/* You can add global styles to this file, and also import other style files */
@import "./assets/variables.scss";
@import "./assets/sweetalert.scss";

* {
	margin: 0;
	padding: 0;
}

body,
input,
button,
textarea {
	font: $font-roboto;
}
